body {
  background-color: var(--very-light-gray);
}

header {
  display: flex;

  margin-inline: 9vw;
  padding-top: 5vh;
}
header .search-container {
  margin-right: auto;
  background-color: var(--white);
  align-items: center;
  width: 30vw;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

header input[type="text"] {
  padding: 6px;
  margin-block: 8px;
  font-size: 17px;
  border: none;
}

header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#search {
  border: none;
  outline: none;
  width: 80%;
}

/* Dropdown style */
.dropdown {
  width: fit-content;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
}
.dropdown-content a:hover .not-as-dark {
  background-color: var(--dark-blue);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 5vw;
}
.card {
  margin: 3rem;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  width: 320px;
  height: 350px;
}
span {
  font-weight: 700;
}
.text {
  padding-block: 6px;
  padding-inline: 2rem;
  flex-wrap: wrap;
}
h3 {
  padding-block: 2vh;
}
#last-item {
  padding-bottom: 2rem;
}
#name {
  padding-inline: 2rem;
}
.card .flag {
  width: 100%;
  height: 50%;
  /* height: auto; */
  display: block;
}
